*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #34495E;
    color: white;
}

h1{
    padding: 10px;
    font-size: 200%;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}

.figure-container{
    fill:transparent;
    stroke:#fff;
    stroke-width: 4px;
    stroke-linecap:round;
    margin:40px
}

.main{
    display: flex;
    justify-content: center;
    text-align: center;
}

.border{
    border: 2px solid red;
}

.wrong{
    margin:40px;
    min-width:200px;
    color:white
}

.final{
    background-color: #2980B9;
    border-radius: 6px;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 380px;
    margin: auto;
    position: absolute;
    left:40%;
    top:35%;
    display: none;
}

.play{
    width:100px;
    height: 30px;
    margin: 20px auto;
    font-size: medium;
}
.win-loose{
    margin: 20px auto;
}

.notify-repeat{
    background-color: #243342;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    width: 300px;
    position: absolute;
    bottom: 2px;
    left: 40%;
    display:none;
}

header{
    text-align: center;
    height: 20vh;
}

.guess{
    display: flex;
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.letter{
    border-bottom: 3px solid #2980b9;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.show{
    display: none;
}

.font{
    font-size: 20px;
}

.figure-part{
    display: none;
}